{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'organization.management.speaker.add' | trans }}</h1>

    {% include 'OrganizationManagementBundle:Speaker:_form.html.twig' %}
{% endblock %}
