{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'organization.management.place.edit' | trans }}</h1>

    {% include 'OrganizationManagementBundle:Place:_form.html.twig' %}
{% endblock %}
