{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'organization.management.partner.add' | trans }}</h1>

    {% include 'OrganizationManagementBundle:Partner:_form.html.twig' %}
{% endblock %}
