{% extends 'base.html.twig' %}
{% block body %}
<div class="page-header">
    <h1>Content management</h1>
</div>
<blockquote>
    <p>"The beginning is the most important part of the work" - Plato</p>
</blockquote>
{% endblock %}