{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'organization.management.topic.edit' | trans }}</h1>

    {% include 'OrganizationManagementBundle:Topic:_form.html.twig' %}
{% endblock %}
