{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'organization.management.city.edit' | trans }}</h1>

    {% include 'OrganizationManagementBundle:City:_form.html.twig' %}
{% endblock %}
