{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'organization.management.sponsor.add' | trans }}</h1>

    {% include 'OrganizationManagementBundle:Sponsor:_form.html.twig' %}
{% endblock %}
