{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Answer</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ entity.question.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="list-unstyled">
    <li>
        <a href="{{ path('answer') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
