{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'organization.management.helper.add' | trans }}</h1>

    {% include 'OrganizationManagementBundle:Helper:_form.html.twig' %}
{% endblock %}
